* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: IRANSans;
    src: url('library/Font/IRANSans.ttf')
}

body,
html,
.modal-content {
    direction: rtl;
    font-family: IRANSans;
}

.all-window {
    position: relative;
    width: 1280px;
    height: 1824px;
    background-color: #f8f8fe;
}


/* start of style for menu */

.menu-bar {
    width: 115px;
    height: 625px;
    box-shadow: 0 2px 10px 0 rgba(225, 226, 250, 0.7);
    background-color: #ffffff;
    float: right;
    padding: 0px 11px;
}

.logo {
    width: 91px;
    height: 27px;
    margin: 24px 0px 12px 0px;
    transition: all 100ms linear;
}

.logo:hover {
    scale: 1.1;
}

.list-resume-hover,
.add-resume-hover {
    color: black;
    display: inline-block;
    margin: 24px -6px;
    text-align: center;
    transition: all .3s linear;
}

.list-resume-hover:hover,
.add-resume-hover:hover {
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    color: #3e4289;
    background-color: #e1e2fa;
}

.list-resume,
.add-resume {
    width: 104px;
    height: 68px;
}

.list-resume i,
.add-resume i {
    rotate: 180deg;
    margin: 6px 33px 12px 40px;
}

.list-resume p,
.add-resume p {
    font-size: 14px;
    font-family: IRANSans;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #26282c;
    text-align: center;
    width: 100%;
    margin: 1px;
}


/* end of style for menu */


/* start of style for filter side */

.filter-side {
    width: 284px;
    height: 1100px;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: IRANSans;
    display: inline-block;
    padding: 12px;
    margin: 24px 24px 197px 24px;
}

.filters {
    width: 154px;
    height: 22px;
}

.filters p {
    font-size: 14px;
    font-family: IRANSans;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #40414b;
}

.filter-box {
    width: 260px;
    height: 72px;
    padding: 12px 0px 0px 0px;
}

.hr {
    width: 260px;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 0.5px;
    background-color: #f1f1fd;
}

.filter-search-div p {
    font-size: 14px;
    font-family: IRANSans;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #40414b;
    margin: 12px 0px;
}

.input-filter {
    margin: 12px 0px;
}


/* .chips {
    margin: 12px 0px;
} */

.input-filter i {
    position: absolute;
    font-size: 24px;
    margin: 8px 12px;
    rotate: 90deg;
    color: #ceced1;
}

.filter-search {
    color: #ceced1;
    padding: 8px 38px 8px 0;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ceced1;
}


/* start of style for filter side */


/* start of style for resume side */

.resume-part {
    width: 797px;
    display: inline-block;
    position: absolute;
    margin: 24px 0px;
}

.input-search {
    display: inline-block;
}

.input-search i {
    position: absolute;
    font-size: 24px;
    margin: 8px 12px;
    rotate: 90deg;
    color: #ceced1;
    cursor: pointer;
}

.text-search {
    color: #ceced1;
    font-family: IRANSans;
    padding: 8px 38px 8px 0;
    width: 489px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ceced1;
    display: inline-block;
}

.perNumber {
    float: left;
}


/* start of style for table */

.data-table {
    background-color: #ffffff;
    width: 797px;
    margin: 24px 0px;
    height: 1200px;
    border-radius: 10px;
    padding: 12px;
}

.table {
    border-radius: 5px;
}

thead tr {
    display: block;
    width: 773px;
    height: 49px;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 5px;
}

#tbody tr {
    display: block;
    width: 773px;
    height: 49px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0px 5px;
    border-bottom: 2px solid #f1f1fd;
}

#tbody tr:hover {
    background-color: #f1f1fd;
}

th,
#tbody tr>td {
    display: inline-block;
    width: 90px;
    font-size: 14px;
    font-family: IRANSans;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #85858b;
}

th:nth-child(1),
#tbody tr>td:nth-child(1) {
    width: 30px;
    margin-right: 20px;
    margin-left: 30px;
}

th:nth-child(4),
#tbody tr>td:nth-child(4) {
    width: 60px;
}

th:nth-child(5),
#tbody tr>td:nth-child(5) {
    width: 120px;
}

.view:hover,
.delete:hover,
.edit:hover {
    cursor: pointer;
}


/* end of style for table */


/* start format checkbox */

.control {
    display: block;
    position: relative;
    padding-right: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: IRANSans;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #40414b;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 2px solid #cecdc1;
    border-radius: 3px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #06d6a0;
    border: 2px solid #06d6a0;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #06d6a0;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 5px;
    top: -1px;
    width: 6px;
    height: 16px;
    border: solid #fff;
    color: #0a0b17;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled~.control__indicator:after {
    background: #7b7b7b;
}


/* end format checkbox */


/* start dropdown filter */

.filter {
    width: 260px;
    margin: 0 auto;
}

.filter-age,
.filter-county,
.filter-marital {
    margin: 39px 0;
    overflow: hidden;
    padding: 0;
}

.filter-age li,
.filter-county li,
.filter-marital li {
    list-style-type: none;
    padding: 0;
    background-color: #ffffff;
}

.fil-age,
.fil-county,
.fil-marital {
    background: #FFFFFF;
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    position: relative;
    width: 100%;
    font-size: 14px;
    font-family: IRANSans;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #40414b;
    height: 22px;
}

.fil-age:hover,
.fil-county:hover,
.fil-marital:hover {
    text-decoration: none;
}

.fil-age:before,
.fil-county:before,
.fil-marital:before {
    background: #40414b;
    content: '';
    height: 2px;
    margin-right: 37px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 14px;
}

.fil-age:after,
.fil-county:after,
.fil-marital:after {
    background: #44596B;
    content: '';
    height: 2px;
    margin-right: 37px;
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
}

.fil-age.active:before,
.fil-county.active:before,
.fil-marital.active:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.fil-age.active p,
.fil-age:focus p,
.fil-county.active p,
.fil-county:focus p,
.fil-marital.active p,
.fil-marital:focus p {
    position: relative;
}

.drop-age,
.drop-county,
.drop-marital {
    background: #ffffff;
    display: none;
    overflow: hidden;
    margin-top: 21px;
}

.drop-age {
    height: 120px;
}

.irs--round.irs-with-grid {
    width: 240px;
}

.points {
    width: 100%;
}


/* end dropdown filter */


/* first of form-Modal-edit & submit */

#myModalLabel {
    font-size: 20px;
    font-family: IRANSans;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #0a0b17;
}

.modal-content {
    font-size: 12px;
}

::placeholder {
    font-size: 12px;
    font-family: IRANSans;
}

.form-control option {
    font-size: 12px;
    font-family: IRANSans;
}

.form-group p {
    font-size: 14px;
}

.modal {
    display: block;
}

.radio {
    display: inline-block;
    margin-top: 15px;
}

.name-view,
.familyname-view,
.age-view,
.marital-view,
.job-view,
.sport-view,
.number-view,
.state-view,
.county-view,
.des-view {
    color: #85858b;
}

#submit,
.save {
    background-color: #5358b6;
    color: white;
    width: 110px;
    height: 40px;
    float: left;
}

#close,
.cancel {
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background-color: #ededee;
    color: #85858b;
    float: right;
}

.form-control {
    margin: 12px 0px;
}

.form-group {
    width: 49%;
    height: 82px;
    display: inline-block;
}

.form-group:nth-child(7) {
    display: block;
}

.form-group:nth-child(10) {
    width: 100%;
    display: block;
}

.form-group>label {
    font-size: 12px;
    font-family: IRANSans;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #40414b;
}

.age-input span {
    position: absolute;
    color: #ceced1;
    margin: 4px 230px;
}

.single,
.married {
    margin: 20px;
}

textarea {
    resize: none;
}


/* end of Modal edit & submit */


/* for blur outside of modal */

.modal-open .section {
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    /* background-color: rgba(64, 65, 75, 0.3); */
}


/* first of Modal-view */

#myModalView {
    font-size: 20px;
    font-family: IRANSans;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #0a0b17;
}

#view-close {
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background-color: #ededee;
    color: #85858b;
    margin-right: auto;
}

#inputjob,
#inputsport,
#inputstate,
#inputcounty {
    padding: 1px 12px;
    height: 40px;
    display: block;
    margin: 12px 0px;
    width: 100%;
}


/* end of Modal-view */


/* start for pagination */

.simple-pagination ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.simple-pagination li {
    display: inline-block;
    margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
    color: #666;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #EEE;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
    color: #FFF;
    background-color: #FF7182;
    border-color: #FF7182;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    background: #e04e60;
}

#perpage-number {
    height: 40px;
}

#perpage-number:after {
    top: 30px;
}

.simple-pagination .current {
    color: #fff;
    background-color: #5358b6;
    border: none;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    background-color: #5358b6;
}

.simple-pagination li a,
.simple-pagination li span {
    padding: 9px 13px;
    border-radius: 2.9px;
}


/* start for pagination */


/* for egeslider */

.irs--round .irs-handle {
    right: 0;
    left: auto;
}

.irs-handle {
    top: -20px;
    width: 12px;
    height: 12px;
}

.irs-bar {
    right: 0;
    left: auto;
}

.irs--round .irs-line,
.irs--round .irs-bar {
    top: 33px;
    height: 9px;
}

.irs--round .irs-bar--single {
    border-radius: 0 4px 4px 0;
}

#range-slide-get-value {
    background-color: #686ee4;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: IRANSans;
}

.value-range {
    margin: 40px 110px;
}


/* end of ageslider */